/* 
	Resets defualt browser settings
	reset.css
*/


/*
	Page style
*/

body { 

	-webkit-font-smoothing: subpixel-antialiased;
}

#container {
	width:580px;
	padding:10px;
	margin:0 auto;
	position:relative;
	z-index:0;
}

#example {
	width:600px;
	height:350px;
	position:relative;
}

#ribbon {
	position:absolute;
	top:-3px;
	left:-15px;
	z-index:500;
}

#frame {
	position:absolute;
	z-index:0;
	width:739px;
	height:341px;
	top:-3px;
	left:-80px;
}

/*
	Slideshow
*/

#slides {
	position:absolute;
	z-index:100;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
border: 1px solid #375987;
	width:640px;
	overflow:hidden;
	position:relative;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container div {
	width:640px;
	height:175px;
	display:block;
}

.slides_container div img {
	display:block;
}

/*
	Next/prev buttons
*/

#slides .next,#slides .prev {
	position:absolute;
	top:107px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slides .next {
	left:585px;
}

/*
	Pagination
*/

.pagination {
	margin:26px auto 0;
	width:100px;
	position:relative;
	top:-54px;
	left: 240px;
	z-index:100;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:16px;
	height:11px;
	/*background-image:url(../img/pagination.png);
	background-position:0 0;*/
	float:left;
	overflow:hidden;
	border: 1px solid #7094b7;
	background-color: #fff;
	text-indent: -9999px;
}

.pagination li.current a {
text-indent: -9999px;
	background-color: #7094b7;
}

/*
	Anchors
*/

a:link,a:visited {
	color:#377fa7;
	text-decoration:none;
}

a:hover,a:active {
	color:#377fa7;
	text-decoration:underline;
}